* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
}

header {
    background-image: linear-gradient(blue, red);
}

.logo {
    width: 200px;
    height: 200px;
    margin-left: 43%;
}

header nav{
    width: 75%;
    margin-left: 12.5%;
}

nav {
    font-family: Dosis, sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Who_I_Am, #Accomplishments, #My_Skills, #Chess {
    border: 3px solid lightblue;
    display: flex;
    justify-content: center;
    width: 25%;
    text-decoration: none;
    color: blue;
}

#Home_Page, #Chess_Page, #Music_Page {
    border: 3px solid lightblue;
    background: #f1f1f1;
    font-size: 30.5px;
    display: flex;
    justify-content: center;
    width: 33%;
    text-decoration: none;
    color: red;
}

.title {
    background: #f1f1f1;
    text-align: center;
}

h1 {
    font-family: Red Hat Display, sans-serif;
    color: pink;
    font-size: 40px;
    background: deepskyblue;
}

.title div {
    font-family: Nunito, sans-serif;
    font-size: 20px;
    text-align: center;
    color: deepskyblue;
}

.title nav {
  width: 100%;
  font-family: Dosis, sans-serif;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#My_Story {
  background: deepskyblue;
  border-radius: 7px;
  text-decoration: none;
  width: 50%;
  border: 3px solid white;
  color: pink;
}

#Affiliations {
  background: deepskyblue;
  border-radius: 7px;
  text-decoration: none;
  width: 50%;
  border: 3px solid white;
  color: pink;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  margin-left: 20px;
  color: deepskyblue;
}

.main {
  background: pink;
  border: deepskyblue dotted 5px;
}

.text {
  font-family: Nunito, sans-serif;
  font-size: 18px;
  padding-left: 20px;
  color: black;
  text-align: left;
}

.main p {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 18px;
  color: salmon;
  padding: 0px 20px;
  line-height: 20px;
}

.main .headings {
  color: #f1f1f1;
  text-shadow: -1.5px -1.5px 0 deepskyblue,
	1.5px -1.5px 0 deepskyblue,
	-1.5px 1.5px 0 deepskyblue,
	1.5px 1.5px 0 deepskyblue;
}

.orgs {
  background: deepskyblue;
  border: pink dotted 5px;
}

.orgs h2 {
  color: pink;
}

.headings {
  font-family: Red Hat Display, sans-serif;
  font-size: 20px;
  color: black;
  text-shadow: -1px -1px 0 pink,
	1px -1px 0 pink,
	-1px 1px 0 pink,
	1px 1px 0 pink;
  padding-left: 40px;
}

.orgs p {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 18px;
  color: #f1f1f1;
  padding: 0px 20px;
}

.orgs p a {
  color: #F1F1F1;
}

#toggle1, #toggle2, #toggle3, #toggle4, #toggle5, #toggle6, #toggle7, #toggle8, #toggle9, #toggle10, #toggle11,
#toggle12, #toggle13, #toggle14, #toggle15, #toggle16, #toggle17, #toggle18, #toggle19, #toggle20 {
  display: none;
}

footer {
    background-image: linear-gradient(red, blue);
    height: 31vh;
}

footer div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

footer a {
    color: black;
    text-decoration: none;
}

span {
    font-family: Montserrat, sans-serif;
    margin: 10px;
}

h3 {
    font-family: Red Hat Display, sans-serif;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 700px)
{
  html{
    text-align: center;
  }
  .main, .orgs, footer {
    text-align: left;
  }
#Who_I_Am, #Chess, #Accomplishments, #My_Skills, #Home{
  width: 20%;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  line-height: 25px;
  padding: 2px;
}
  
  #My_Story, #Affiliations, #My_Struggles {
  width: 50%;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  }

.logo {
  margin-left: 2%;
}
  .text {
    padding-right: 20px;
  }

  h2 {
    margin-right: 30px;
  }
  
  .skills {
    text-align: center;
  }

footer {
  text-align: center;
}

}

 @media (max-height: 400px)
  {
#Who_I_Am, #Chess, #Accomplishments, #My_Story, #My_Skills{
  width: 20%;
  font-size: 25px;
  display: flex;
  text-align: center;
  align-items: center;
  line-height: 25px;
  padding: 3px;
}

.logo {
  margin-left: 37%;
}

.title div {
  margin-top: -330px;
  margin-right: 10px;
  font-size: 15px;
}

footer {
  text-align: center;
  height: 50vh;
}

}

@media (max-width: 374px) {
  footer {
  text-align: center;
  height: 40vh;
}

  footer div{
    text-align: left;
  }
}

@media only screen and (min-width: 501px) and (max-width: 961px) {
  .logo {
    margin-left: 37%;
  }
  
  footer {
    height: 20vh;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1025px){
  .logo {
    margin-left: 40%;
  }
  
  footer {
    height: 15vh;
  }
}