* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
}

header {
    background-image: linear-gradient(blue, red);
}

.logo {
    width: 200px;
    height: 200px;
    margin-left: 43%;
}

nav {
    width: 100%;
    font-family: Dosis, sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Home {
    border: 3px solid lightblue;
    display: flex;
    justify-content: center;
    width: 50%;
    text-decoration: none;
    color: blue;
}

#Who_I_Am {
    border: 3px solid lightblue;
    display: flex;
    justify-content: center;
    width: 50%;
    text-decoration: none;
    color: blue;
}

#Accomplishments {
    border: 3px solid lightblue;
    display: flex;
    justify-content: center;
    width: 50%;
    text-decoration: none;
    color: blue;
}

#My_Story {
    border: 3px solid lightblue;
    display: flex;
    justify-content: center;
    width: 50%;
    text-decoration: none;
    color: blue;
}

#My_Skills {
    border: 3px solid lightblue;
    display: flex;
    justify-content: center;
    width: 50%;
    text-decoration: none;
    color: blue;
}

.title {
    text-align: center;
    background-image: linear-gradient(black, white, black);
}

h1 {
    font-family: Red Hat Display, sans-serif;
    color: black;
    font-size: 40px;
}

.title div {
    font-family: Nunito, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    color: black;
}

.title nav {
    width: 100%;
    font-family: Dosis, sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Things_To_Know {
    border: 3px solid black;
    background: white;
    display: flex;
    justify-content: center;
    width: 50%;
    text-decoration: none;
    color: black;
}


#My_Timeline {
    border: 3px solid white;
    background: black;
    display: flex;
    justify-content: center;
    width: 50%;
    text-decoration: none;
    color: #f1f1f1;
}

h2 {
  margin-left: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    color: lightskyblue;
}

.content{
  background: gray;
}

.usefuls {
  background-image: linear-gradient(gray, white, gray);
}

.heading {
  font-family: Red Hat Display, sans-serif;
  font-size: 20px;
  color: white;
  padding-left: 20px;
}

.ratings, .summary {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 20px;
  color: black;
  line-height: 1.6;
  padding: 20px;
}

.redirect {
    font-family: Bitter, sans-serif;
    font-size: 13px;
    color: white;
    border: 2px solid gray;
    border-radius: 7px;
    background-color: black;
    font-weight: 300;
    padding: 8px;
    text-decoration: none;
}

.redirect:hover {
    background-color: white;
    color: black;
    border: 2px solid gray;
    border-radius: 7px;
}

.timeline{
  background-image: linear-gradient(gray, silver, red);
}

.timeline .heading{
  padding-left: 40px;
}

.timeline p{
  font-family: IBM Plex Sans, sans-serif;
  font-size: 20px;
  color: black;
  padding: 20px;
}

.text {
  font-family: Nunito, sans-serif;
  font-size: 18px;
  color: black;
  text-align: center;
  background: red;
}

footer {
    background-image: linear-gradient(red, blue);
    height: 31vh;
}

footer div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

footer a {
    color: black;
    text-decoration: none;
}

span {
    font-family: Montserrat, sans-serif;
    margin: 10px;
}

h3 {
    font-family: Red Hat Display, sans-serif;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 700px)
{
  html{
    text-align: center;
  }
#Who_I_Am, #Home, #Chess, #Accomplishments, #My_Story, #My_Skills{
  width: 20%;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  line-height: 25px;
  padding: 2px;
}

.logo {
  margin-left: 2%;
}

  h2, .heading {
    margin-right: 30px;
  }
  
  .skills {
    text-align: center;
  }

footer {
  text-align: center;
}

}

 @media (max-height: 400px)
  {
#Who_I_Am, #Home, #Accomplishments, #My_Story, #My_Skills{
  width: 20%;
  font-size: 25px;
  display: flex;
  text-align: center;
  align-items: center;
  line-height: 25px;
  padding: 3px;
}

.logo {
  margin-left: 37%;
}

.title div {
  margin-top: -330px;
  margin-right: 10px;
  font-size: 15px;
}

footer {
  text-align: center;
  height: 50vh;
}

}

@media (max-width: 374px) {
  footer {
  text-align: center;
  height: 40vh;
}

  footer div{
    text-align: left;
  }
}

@media only screen and (min-width: 501px) and (max-width: 961px) {
  .logo {
    margin-left: 37%;
  }
  
  footer {
    height: 20vh;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1025px){
  .logo {
    margin-left: 40%;
  }
  
  footer {
    height: 15vh;
  }
}