* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
}

header {
    background-image: linear-gradient(lavender, midnightblue);
}

.logo {
    width: 200px;
    height: 200px;
    margin-left: 43%;
}

header nav{
    width: 75%;
    margin-left: 12.5%;
}

nav {
    font-family: Dosis, sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Who_I_Am, #Accomplishments, #My_Story, #Chess {
    border: 3px solid lightblue;
    display: flex;
    justify-content: center;
    width: 25%;
    text-decoration: none;
    color: red;
}

#Home_Page, #Chess_Page, #Story_Page {
    border: 3px solid lightblue;
    background: #f1f1f1;
    font-size: 30.5px;
    display: flex;
    justify-content: center;
    width: 33%;
    text-decoration: none;
    color: red;
    background: midnightblue;
}

.title {
    background-image: linear-gradient(to right, mediumslateblue, wheat 20%, wheat 80%, mediumslateblue 100%);
    text-align: center;
}

h1 {
    font-family: Red Hat Display, sans-serif;
    color: #f1f1f1;
    font-size: 40px;
}

.title div {
    font-family: Nunito, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 0px 26%;
    color: mediumslateblue;
    border-width: 3px 0px;
    border-style: dashed;
    border-color: #f1f1f1;
}

.title nav {
}

#Music_Evolution, #My_Music {
  width: 50%;
  border-width: 0px 0px 3px 3px;
  border-style: dashed;
  border-color: #f1f1f1;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
}

#My_Music {
  border-width: 0px 3px 3px 3px;
}

.main {
  text-align: left;
  padding: 20px;
  background: lavender;
  border: 4px dotted red;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  color: mediumspringgreen;
}

.change {
  color: cornflowerblue;
}

.main p {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.main div {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-width: 3px 0px;
  border-style: dashed;
  border-color: silver;
}

.display {
  background-image: linear-gradient(to right, papayawhip 10%, mediumslateblue 30%, mediumslateblue 70%, papayawhip 90%);
  text-align: center;
  border: 4px dotted navy;
}

.display h2 {
  color: lavender;
}

.display p {
  font-family: Nunito, sans-serif;
  font-size: 20px;
  color: papayawhip;
  line-height: 20px;
  border-width: 3px 0px;
  border-style: dashed;
  border-color: #f1f1f1;
  margin: 5px;
  padding: 5px;
}

.head {
  padding: 20px 26%;
}

.earsketch {
  display: flex;
  justify-content: center;
}

.noteflight {
  display: flex;
  justify-content: space-around;
}

footer {
    background-image: linear-gradient(sandybrown, peachpuff);
    height: 31vh;
}

footer div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

footer a {
    color: black;
    text-decoration: none;
}

span {
    font-family: Montserrat, sans-serif;
    margin: 10px;
}

h3 {
    font-family: Red Hat Display, sans-serif;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 700px)
{
  html {
    text-align: center;
  }
#Who_I_Am, #Chess, #Accomplishments, #My_Story{
  width: 20%;
  font-size: 20px;
  display: flex;
  align-items: center;
  line-height: 25px;
  padding: 2px;
}
  
  #My_Music, #Music_Evolution {
    font-size: 30.5px;
  }
  
.logo {
  margin-left: 2%;
}

.main div, .noteflight, .earsketch {
  display: inline-table;
}

  .main {
    text-align: center;
  }
  
iframe {
  width: 300px;
  height: 220px;
}
  
footer {
  text-align: center;
}

}

@media (max-height: 400px)
  {
#Who_I_Am, #Chess, #Accomplishments, #My_Story{
  width: 20%;
  font-size: 25px;
  display: flex;
  text-align: center;
  align-items: center;
  line-height: 25px;
  padding: 3px;
}

.logo {
  margin-left: 37%;
}
footer {
  text-align: center;
  height: 50vh;
}

}

@media only screen and (max-width: 374px) {
  .main div {
    padding-left: 10px;
    margin-left: -25px;
    margin-right: -25px;
    width: 260px;
  }
  
  .main iframe {
    width: 250px;
    height: 200px;
  }
  footer {
  text-align: center;
  height: 40vh;
}
  

  footer div{
    text-align: left;
  }
}

@media only screen and (min-width: 405px) and (max-width: 415px){
  #Music_Evolution {
    dislpay: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 501px) and (max-width: 961px) {
  .logo {
    margin-left: 37%;
  }
  
  .noteflight {
    display: block;
  }
  .noteflight iframe {
    height: 200px;
    width: 330px;
  }
  
  .earsketch {
    padding: 0px 26%;
    display: block;
  }
 footer {
    height: 20vh;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1025px){
  .logo {
    margin-left: 40%;
  }
  
  footer {
    height: 15vh;
  }
}
